.title
  To-Do
.user
  .user__name
    俺
    .user__name__edit
      = icon('fas','user-edit')
  .achievement
    .achievement__percent
      達成率
    .achievement__bar
      .achievement__bar__active
      .achievement__bar__inactive