.main-list
  - @todoLists.each do |todo_list|
    .task
      .task__title
        = todo_list.title
      .task__creater
        作成者：
        = todo_list.user.name
      .task__option
        %p.task__option__lank
          Aランク
        %p.task__option__star
          ★★
        %p.task__option__d-line
          12/2まで
      .task__content
        = todo_list.content