.main-list
  .task
    .task__title
      件のアプリを完成させよ。
    .task__option
      %p.task__option__lank
        Sランク
      %p.task__option__star
        ★★★★★
      %p.task__option__d-line
        2月22日まで
  .task
    .task__title
      件のアプリを完成させよ。
    .task__option
      %p.task__option__lank
        Sランク
      %p.task__option__star
        ★★★★★
      %p.task__option__d-line
        2月22日まで
  .task
    .task__title
      件のアプリを完成させよ。
    .task__option
      %p.task__option__lank
        Sランク
      %p.task__option__star
        ★★★★★
      %p.task__option__d-line
        2月22日まで
  .task
    .task__title
      件のアプリを完成させよ。
    .task__option
      %p.task__option__lank
        Sランク
      %p.task__option__star
        ★★★★★
      %p.task__option__d-line
        2月22日まで
  .task
    .task__title
      件のアプリを完成させよ。
    .task__option
      %p.task__option__lank
        Sランク
      %p.task__option__star
        ★★★★★
      %p.task__option__d-line
        2月22日まで