.account-page {
  &__header {
    background-color: #3CCACE;
    height: 100px;
    text-align: center;
    padding-top: 40px;
    .btn {
      height: 100px;
      width: 100px;
      display: contents;
    }
  }
  &__content {
    display: block;
    background-color: #eeeeee;
    .contents {
      height: 100vh;
      width: 700px;
      background-color: #f8f8f8;
      margin: 0 auto;
      &__head {
        font-size: 22px;
        text-align: center;
        padding: 32px;
        border-bottom: solid 1px #eeeeee;
      }
    }
  }
}

form {
  padding: 40px 100px 60px;
  .field {
    margin-bottom: 10px;
    &__label {
      padding: 10px 0;
      letter-spacing: 1px;
      font-size: 14px;
      font-weight: 200;
    }
    &__input {
      input {
        width: 100%;
        padding: 10px;
        letter-spacing: 1px;
      }
    }
  }
  .actions {
    padding: 60px 150px;
    display: grid;
    .action {
      display: inline-block;
      height: 50px;
      padding: 0 30px;
      line-height: 50px;
      letter-spacing: 1px;
      text-align: center;
      border-radius: 2px;
    }
  }
}